/class-03/calculator_age/node_modules
/class-03/number_generator_project/node_modules
/class-03/user_project_v2/node_modules
/after-class-01/node_modules
/class-04/express_p1/node_modules
/class-04/express_words_p2/node_modules
/class-04/server_http/node_modules