/class-03-npm-p2/calculator_age/node_modules
/class-03-npm-p2/number_generator_project/node_modules
/class-03-filesystem-p1/user_project_hands_onlab/node_modules
/class-03-filesystem-p1/user_project_crud_files_errors_handler/node_modules
/after-class-01/node_modules
/class-04-http-server-express-p1/express_p1/node_modules
/class-04-express-avanzado-p2/express_words_p2/node_modules
/class-04-http-server-express-p1/server_http/node_modules
/class-05-router-multer-p1/express_router_p1/node_modules
/class-05-router-multer-p1/express_router_multer_p2/node_modules
/class-05-express-handlerbars-p2/express_handlebars_p1/node_modules
/class-05-express-handlerbars-p2/express_handlebars_p2/node_modules
/class-06-websocket-p1/express_handlebars_socket_p1/node_modules
/class-06-websocket-chat-p2/express_socket_chat_handlebars_p1/node_modules
/after-class-02/node_modules
/class-07-mongo-crud-p1/express_mongo_p1/node_modules
/class-07-mongo-crud-p2/express_mongo_p2/node_modules
class-08-p2-practica-integradora/node_modules
class-08-p2-practica-integradora/.env.*.local

/class-09-mongo-avanzado-p2/mongo_avanzado_p2/node_modules
/class-09-mongo-avanzado-p2/mongo_avanzado_p2_hands_on_lab/node_modules

class-10-cookies-session-and-storage-p1/cookies-session-and-storage-p1/node_modules
class-10-cookies-session-and-storage-p1/cookies-session-and-storage-p2/node_modules
class-10-cookies-session-and-storage-p2/cookies-session-and-storage-p1/node_modules
class-10-cookies-session-and-storage-p2/cookies-session-and-storage-p2_hands_on_lab/node_modules

class-11-authorization-and-authentication-strategy-jwt-p1/authentication-with-bcrypt-p1/node_modules
class-11-authorization-authentication-strategy-jwt-p2/auth-strategy-github-p1/node_modules
class-11-authorization-authentication-strategy-jwt-p2/auth-jwt-p2/node_modules

class-12-authorization-authentication-jwt-avanzado-p1/auth-jwt-cookie-p1/node_modules
class-12-authorization-authentication-jwt-avanzado-p1/auth-passport-jwt-strategy-p2/node_modules

class-12-authorization-authentication-jwt-avanzado-p2/express_router__advanced_p1/node_modules
class-12-authorization-authentication-jwt-avanzado-p2/auth-passport-jwt-with-roles-custom-route-p2-hands-on-lab/node_modules

class-13-practica-integradora-2-p1/practica-integradora-2/node_modules
class-13-process-global-process-child-p2/process-and-commander-p2/node_modules
class-13-process-global-process-child-p2/process-and-env-variables-p1/node_modules
class-13-process-global-process-child-p2/process-child-p3/node_modules

class-15-layer-architecture-persistency-and-dev/layer-architect-with-dao-p1/node_modules
class-15-layer-architecture-persistency-and-dev/layer-architect-with-dao-p2/node_modules
class-15-layer-architecture-persistency-and-dev/layer-architect-with-dao-repository-p3/node_modules

class-15-layer-architecture-persistency-and-dev-p2/layer-architect-with-dao-repository-hands-lab-p1/node_modules

class-16-email-sms-and-testing-mocks/email-p1/node_modules
class-16-email-sms-and-testing-mocks/email-p1/.env.development
class-16-email-sms-and-testing-mocks/sms-p2/node_modules
class-16-email-sms-and-testing-mocks/sms-p2/.env.development

class-16-email-sms-and-testing-mocks-p2/tdd-p1/node_modules
class-16-email-sms-and-testing-mocks-p2/api-mocks-hands-lab-p2/node_modules

class-17-package-and-versions-optimization/api-compress-p1/node_modules
class-17-package-and-versions-optimization/api-mocks-error-handeling-p1/node_modules

after-class-06/node-mongo-dockerized/node_modules

class-18-logger-performance-clusters-scalability/loggers-p1/node_modules
class-18-logger-performance-clusters-scalability/artillery-p2/node_modules

class-18-logger-performance-clusters-scalability-p2/clusters-p1/node_modules

class-19-kubernets-and-practica-integradora/node-mongo-dockerized-kubernets/node_modules
class-19-kubernets-and-practica-integradora/practica-integradora-kubernets/node_modules