<div>
  <h1>Perfil de usuario</h1>

  <p>{{this.last_name}}</p>
  <p>{{this.email}}</p>
  <p>{{this.age}}</p>

  <div>
    <form action="/api/session/logout" method="get">
      <br />
      <button type="submit">logout</button>
    </form>
  </div>

</div>